In [5]:
import pandas as pd

df = pd.read_csv('../datasets/data.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата          6 non-null      object
 1   Пользователь  6 non-null      object
 2   Посещения     6 non-null      int64
 3   Регистрации   6 non-null      int64
 4   Покупки       6 non-null      int64
dtypes: int64(3), object(2)
memory usage: 372.0+ bytes

In [6]:
df

         Дата Пользователь  Посещения  Регистрации  Покупки
0  2023-01-01        User1          1            0        0
1  2023-01-01        User2          1            1        0
2  2023-01-02        User1          1            0        0
3  2023-01-02        User3          1            0        1
4  2023-01-03        User2          1            0        0
5  2023-01-03        User4          1            1        1

In [16]:
# создаю переменные
total_users = df['Пользователь'].nunique()
users_signed_up = df[df['Регистрации'] == 1]['Пользователь'].nunique()
users_purchased = df[df['Покупки'] == 1]['Пользователь'].nunique()

# конверсия по регистрации
reg_conversion = (users_signed_up/total_users) * 100
print(f"Конверсия по регистрации пользователей: {reg_conversion} %")

# конверсия по покупкам
purchase_conversion = (users_purchased/total_users) * 100
print(f"Конверсия по покупкам пользователей: {purchase_conversion} %")

Конверсия по регистрации пользователей: 50.0 %
Конверсия по покупкам пользователей: 50.0 %