# Churn (отток)
is the amount of users that have stopped using the service that business is providing.
is the metric that measures the amount of users or customers the have stopped using the service in the particular timeframe.

Churn is calculated like:
Churn = (amount of churned customers / amount of users at the start of a period) * 100

In [1]:
import pandas as pd

df = pd.read_csv('../datasets/data_churn.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df['Дата'] = pd.to_datetime(df['Дата'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата          400 non-null    datetime64[ns]
 1   Пользователь  400 non-null    object
 2   Активность    400 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 9.5+ KB

In [2]:
df

          Дата Пользователь  Активность
0   2023-01-01          Bob           0
1   2023-01-02          Bob           0
2   2023-01-03          Bob           0
3   2023-01-04          Bob           1
4   2023-01-05          Bob           0
..         ...          ...         ...
395 2023-01-16          Eve           0
396 2023-01-17          Eve           0
397 2023-01-18          Eve           1
398 2023-01-19          Eve           1
399 2023-01-20          Eve           1

[400 rows x 3 columns]

In [3]:
# Из приложенного датасета, посчитайте метрику Churn, В период с 01.01.2023 - 20.01.2023
# chat-gpt has offered the following formula for calculating the churn rate
# churn_rate = ((c_start - c_end)/c_start)*100%
# where: c-start is the amount of users at the start of a perion. c-end is the amount of users at the end of a perion
time_period = df[(df['Дата'] >= '2023-01-01') & (df['Дата'] <= '2023-01-20')]
# since we have the activity column I'm curious to know who is the most active user, which can be easily found
most_active = df.groupby('Пользователь').agg({'Активность': 'sum'}).sort_values(by='Активность', ascending=False)
# calculating the churn rate
# test = df.groupby('Пользователь').agg({'Активность': lambda x: x.to_list()}).reset_index()

In [6]:
# Group by 'Пользователь' column
grouped = df.groupby('Пользователь')

# Define churn threshold (e.g., 5 consecutive days of inactivity)
churn_threshold = 5

# Identify churned users
churned_users = []
for user, group in grouped:
    inactive_days = (group['Активность'] == 0).astype(int)
    consecutive_inactive_days = inactive_days.rolling(window=churn_threshold).sum()
    if (consecutive_inactive_days >= churn_threshold).any():
        churned_users.append(user)

print("Churned users:", churned_users)

Churned users: ['Grace', 'Karen', 'Sophia', 'William']

In [15]:
# Из приложенного датасета, посчитайте метрику Churn, В период с 01.01.2023 - 20.01.2023
time_period = df[(df['Дата'] >= '2023-01-01') & (df['Дата'] <= '2023-01-20')]

          Дата Пользователь  Активность
0   2023-01-01          Bob           0
1   2023-01-02          Bob           0
2   2023-01-03          Bob           0
3   2023-01-04          Bob           1
4   2023-01-05          Bob           0
..         ...          ...         ...
395 2023-01-16          Eve           0
396 2023-01-17          Eve           0
397 2023-01-18          Eve           1
398 2023-01-19          Eve           1
399 2023-01-20          Eve           1

[400 rows x 3 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата          400 non-null    datetime64[ns]
 1   Пользователь  400 non-null    object
 2   Активность    400 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 9.5+ KB