1.      Предобработайте данные и сделайте первоначальные выводы

2.      Посчитайте количество объявлений по областям

3.      Посчитайте суммарную стоимость недвижимостей по областям

4.      Посчитайте среднее количество комнат, сгруппированных по областям

5.      Посчитайте среднюю сумму стоимости квартиры сгруппированных по областям

6.      Посчитайте среднюю высоту потолков сгруппированных по областям

7.      Посчитайте среднюю стоимость квартир сгруппированных по количеству комнат

8.      Посчитайте среднюю продолжительность продажи сгруппированных по областям

9.      Теперь оставьте только те данные, в области которых, количество объявлений больше 50 *

In [3]:
import pandas as pd
df = pd.read_csv('../datasets/данные для домашнего задания.csv', sep='\t')
df_prev = pd.read_csv('../datasets/real_estate_data.csv', sep='\t')

In [4]:
df.equals(df_prev) # проверим не отличается ли наш датасет от датасета из предыдущих уроков
# как мы видим они идентичны.

True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [6]:
df_prev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [7]:
df.duplicated().unique() # дубликатов так же нет
# df[df.duplicated()]

array([False])

Исходя из пунктов задания, мы будем работать с какими то конкретными столбцами

А именно:
области - locality_name (не полный)
любой полностью заполненный столбец, например total_images
цена - total_price (полный)
кол-во комнат - rooms (полный)
высота потолков - ceiling_height (не полный)
продолжительность продажи - days_exposition (не полный)

Теперь нужно заполнить пустые значения для того чтобы было удобно работать с этими данными.

In [29]:
# для начала найдем их и постараемся визуально понять природу пропущенных значений

nan_locality_name = df['locality_name'].isnull()
# print(df[nan_locality_name])

# скорее всего эти значения были пропущены, в смысле их забыли запонить либо что-то помешало заполнить их итд.
# Данное поле не может быть не запоненным, поэтому заменю NaN на слово "Неизвестно"
# чтобы эти поля соответствовали типу данных str

df['locality_name'] = df['locality_name'].fillna('Неизвестно')
print(df[nan_locality_name]) # все получилось

Empty DataFrame
Columns: [total_images, last_price, total_area, first_day_exposition, rooms, ceiling_height, floors_total, living_area, floor, is_apartment, studio, open_plan, kitchen_area, balcony, locality_name, airports_nearest, cityCenters_nearest, parks_around3000, parks_nearest, ponds_around3000, ponds_nearest, days_exposition]
Index: []

[0 rows x 22 columns]