# Общие заметки

### Дубликаты могут быть разные.

Метод .drop_duplicates() - удаляет из таблицы идентичные строки (100% соответсвие между строками).
Но не удаляет в случае если все ячейки в строках идентичны кроме одной.
В основном так происходит со стоболцом "Время"


Чтобы избавиться от дубликатов по значениям ячеек в стоблце нужно использльзовать аргумент subset метода drop_duplicates:
### .drop_duplicates(subset = 'Название стобца')

## Практическая работа с данными

In [ ]:
# to rename a column name
df.rename({'last_name':'future_name'}, axis=1) # column with name 'last_name' will be renamed to 'future_name'

In [ ]:
# to replace a value of the cell in column
# let's assume that we have numbers 3 and 7 in different rows with column name 'city_code'
# we need to change the number 3 to 'Atyrau' and 7 to 'Almaty'
df['city_code'].replace({3: 'Atyrau', 7: 'Almaty'})

In [ ]:
# to delete a column
df.drop('city_code', axis=0) # 1-for columns, 0-for rows

In [ ]:
# to delete a row
row_index = 5
df.drop(row_index) # drops row with 5th index